@keyframes pulse {
  0% {
    outline-width: 5px;
    outline-offset: 0;
  }

  50% {
    outline-width: 0px;
    outline-offset: 5px;
  }

  75% {
    outline-width: 0px;
    outline-offset: 0;
  }
}

*,
*:before,
*:after { box-sizing: inherit; }

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: monospace;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  margin: 0;

  &.wait { cursor: wait; }
}

header {
  flex: 0;
  text-align: center;
  pointer-events: none;
  z-index: 0;
  color: #999;
}

h1 { font-size: 1.1rem; }

main,
footer {
  transition: filter 500ms ease-in-out;
  will-change: filter;

  .wait & {
    filter: blur(5px);
    pointer-events: none;
  }
}

main {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  overflow: hidden;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 0.3rem;
  margin: 0.7rem;
  padding-bottom: 1rem;
  max-width: 30%;

  & span {
    opacity: 0.5;
    font-size: 0.8rem;
    text-align: center;
  }
}

button,
input,
select,
.tip,
.position { border-radius: 2rem; }

button,
input,
select {
  flex: 0 0 auto;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  background: #000;
  padding: 0.3rem;
  border: 0.3rem solid #0000;
  outline: 3px dashed currentColor;
  transition: outline-width 600ms ease-out;
  will-change: outline-width, outline-color;

  &:hover {
    outline: 1px dashed currentColor;
    transition: outline-width 200ms ease-out;
  }
}

input:invalid { outline-color: red; }

select,
.player {
  &:empty { display: none; }
}

.join {
  margin: auto;
  z-index: 1;
}

.arena {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.edges {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-width: 20%;
  min-height: 20%;
  max-width: 100%;
  max-height: 100%;
  border: 3.2rem solid #0000;
}

.visual {
  flex: 1 1 auto;
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  padding: 20px;
  border: 5px solid #0000;
  margin: 0.5rem;
  border-radius: 10px;
  background: #fff2;
  overflow: auto;
  will-change: opacity;
  transition: opacity 400ms ease-out 300ms;

  & .score {
    flex: 0 0 auto;
    margin: auto;
    border-radius: 2px;
    background: #000;
    outline: 5px solid #fff2;

    & .note {
      stroke: #fff;
      stroke-width: 1;
      rx: 2px;
      border-radius: 2px;

      &.active { stroke-width: 2; }

      &[data-instrument="0"] {
        fill: hsl(0, 50%, 85%);

        &.active { fill: hsl(0, 100%, 50%); }
      }

      &[data-instrument="1"] {
        fill: hsl(120, 50%, 85%);

        &.active { fill: hsl(120, 100%, 50%); }
      }

      &[data-instrument="2"] {
        fill: hsl(240, 50%, 85%);

        &.active { fill: hsl(240, 100%, 50%); }
      }

      .player & {
        outline: 0px solid #fff;
        outline-offset: -2px;
        transition: fill 400ms ease-in,
          outline-color 0ms ease-in 500ms,
          outline-width 200ms ease-in,
          outline-offset 500ms ease-in;
        will-change: fill, outline-color, outline-width, outline-offset;

        &.active {
          outline-color: #fff0;
          outline-width: 8px;
          outline-offset: 10px;
          transition: fill 200ms ease-out,
            outline-color 800ms ease-out,
            outline-width 800ms ease-out,
            outline-offset 800ms ease-out;
        }
      }
    }
  }
}

.tip,
.position {
  position: absolute;
  outline: 5px solid currentColor;
  mix-blend-mode: exclusion;

  & code {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: help;
    max-width: 13em;
  }
}

.tip {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: -1.25rem;
  margin-top: -1.25rem;
  z-index: 2;
  outline: 5px solid currentColor;
  transition: background-color 300ms ease-in 600ms,
    outline-width 900ms ease-in,
    left 300ms ease-in-out,
    top 300ms ease-in-out,
    width 300ms ease-in,
    height 300ms ease-in;
  will-change: background-color,
    outline-width,
    outline-offset,
    left,
    top,
    width,
    height;

  &:nth-child(4n+1) {
    left: 0;
    top: 0;
  }

  &:nth-child(4n+2) {
    left: 100%;
    top: 0;
  }

  &:nth-child(4n+3) {
    left: 100%;
    top: 100%;
  }

  &:nth-child(4n+4) {
    left: 0;
    top: 100%;
  }

  & .edit,
  & .controls { flex: 0 0 auto; }

  & .edit {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
    padding: 0;
    outline: none;
    background: #0005;

    &:before {
      content: '\276e';
      display: inline-block;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  & .visual,
  & .controls,
  & .edit:before {
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    transition: opacity 400ms ease-in;
    will-change: opacity;
  }

  & .visual {
    cursor: pointer;

    & .score {
      background: #fff;

      & .note { stroke: #000; }
    }
  }

  & .controls {
    align-self: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }

  & code {
    top: 100%;
    margin: 10px 0;
  }

  &.blank {
    z-index: 1;

    &,
    & .score { outline-style: dotted; }
  }

  &.open {
    position: fixed;
    top: 10% !important;
    left: 10% !important;
    width: 80%;
    height: 80%;
    margin: 0;
    z-index: 4;
    overflow: auto;
    background: #000;
    outline-width: 5px;
    animation: none;
    mix-blend-mode: normal;
    transition: background-color 300ms ease-out,
      outline-width 300ms ease-out,
      left 300ms ease-in-out,
      top 300ms ease-in-out,
      width 300ms ease-out,
      height 300ms ease-out;

    & .visual,
    & .controls,
    & .edit:before {
      pointer-events: all;
      z-index: 1;
      opacity: 1;
      transition: opacity 400ms ease-out 300ms;
    }

    & code {
      position: relative;
      top: 0;
      max-width: 100%;
    }
  }

  &:not(.open) {
    @media (hover: hover) {
      &:hover {
        mix-blend-mode: normal;
        animation: 900ms infinite pulse ease-in;
        z-index: 3;

        .visual {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 1;
          z-index: 1;
          background-color: #fffc;
          backdrop-filter: grayscale(100%) contrast(20%);
        }
      }
    }

    /*
    @media (hover: none) {
      &:focus-within {}
    } */
  }
}

.position {
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 5px solid #0000;
  color: #fff;
  background-color: currentColor;
  background-clip: content-box;
  cursor: none;
  z-index: 1;
  animation: 900ms infinite pulse reverse ease-in;
  transition: left 300ms ease-in-out,
    top 300ms ease-in-out;
  will-change: outline-width, outline-offset, left, top;

  & code {
    bottom: 100%;
    margin-bottom: 20px;
  }
}

.hide { display: none; }

.instruments.ignore { opacity: 0.3; }

code {
  display: inline-block;
  font-size: 0.7rem;
  opacity: 0.7;
  padding: 0 0.2rem;
  border-radius: 4px;
  border: 1px solid currentColor;
  border-width: 0 1px 0 1px;
  text-align: center;

  &:empty { display: none; }
}

small {
  display: block;
  text-align: center;
}
